<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Harmonizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section id="gradient">
        <section id="text">
            <section class="heading-part">
                <h1>Music<br> Harmonizer</h1>
            </section>
            <section class="heading-part">
                <p>Welcome to the best music harmonizer (by 4 very sleep-deprived first years)!
                    This application allows you to create your own music by selecting the notes in the table below.
                    If you don't know the first thing about music (like our very confused front-end dev), the notes for each piano key are shown when you hover over them to help and we have seperated the chords from the notes (chords are the top row and notes are the rest of the table).
                    Once you've made what I'm sure is a beautiful melody (or heinous war crime which is just a spam of notes), you can play it by pressing SPACEBAR.
                    To change the tempo (speed) of your creation, you can edit the beats per minute below.
                    Finally to improve on your piece, you have the option to press the button 'Generate chords' which, based on your melody, selects the most appropriate chords to compliment your piece.
                    Click the names of the songs below to load some pre-made templates to work with.
                </p><br>
            </section>
        </section>

        <section id="bpm">
            <label> Input the speed:</label>
            <input type="number" value="30" min="10" max="240" id="input_bpm">
        </section>
        <input type="button" value="Generate chords" id="goButton">

        <div id="templates">

        </div>
        <br>
    </section>

    <div id="container">
        <div id="piano">

        </div>
        <main id="midi_roll">

        </main>
    </div>

    <script src="{{ url_for('static', filename='js/templates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cells.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>