<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music somet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <table>
            <tr>
                <th colspan="8">1</th>
                <th colspan="8">2</th>
                <th colspan="8">3</th>
                <th colspan="8">4</th>
            </tr>
            <!--the 4 bars-->
            <tr>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <tr>
                <td>_</td>
                <td>_</td>
                <td>_</td>
                <td>_</td>
            </tr>
            <!--------------->
        </table>
    </main>
</body>
</html>