.cell {
    height: 25px;
    width: 50px;
    min-width: 100px;
    flex: 1;
    border: 1px solid rgb(200, 200, 200);
    background-color: var(--background);

    transition: 0.3s box-shadow ease-in-out;
}

.cell:hover {
    box-shadow: 0 0 10px rgb(117, 117, 117);
}

.cell-on {
    background-color: var(--accent) !important;
}

.cell-off:hover {
    background-color: var(--secondary) !important;
}

.pointer{
    background-color: var(--lighter);
}

.chord-cell-on {
    background-color: var(--primary);
}

.chord-cell-off:hover {
    background-color: var(--lighter);
}