.key {
    background-color: white;
    margin-right: 0;
    margin-left: auto;

    transition: 0.2s transform ease-out;
}

.key:hover {
    background-color: #AAAAAA;
}

.key-force-hover {
    background-color: #AAAAAA !important;
}

.key-force-hover-click {
    background-color: var(--primary) !important;
}

.key-force-hover-click-chord {
    background-color: var(--secondary) !important;
}

.black-key {
    background-image: linear-gradient(to right, black 0%, black 50%, white 51%, white 100%);
    margin-right: 0;
    margin-left: auto;
}

.black-key:hover {
    background-image: linear-gradient(to right, black 0%, black 50%, #AAAAAA 51%, #AAAAAA 100%);
}

.black-key-force-hover-click {
    background-color: var(--primary) !important;
    background-image: linear-gradient(to right, black 0%, black 50%, var(--primary) 51%, var(--primary) 100%) !important;
}

.black-key-force-hover-click-chord {
    background-color: var(--secondary) !important;
    background-image: linear-gradient(to right, black 0%, black 50%, var(--secondary) 51%, var(--secondary) 100%) !important;
}

