.key {
    background-color: white;
    margin-right: 0;
    margin-left: auto;
}

.key:hover {
    background-color: #AAAAAA;
}

.key-force-hover {
    background-color: #AAAAAA !important;
}

.black-key {
    background-image: linear-gradient(to right, black 0%, black 50%, white 51%, white 100%);
    margin-right: 0;
    margin-left: auto;
}

.black-key:hover {
    background-image: linear-gradient(to right, black 0%, black 50%, #AAAAAA 51%, #AAAAAA 100%);
}

