/*the colours have been checked and are accessible for multiple forms of colour blindness*/
:root {
    --background: #f3f7fc;
    --greyishBackground: #e9edf3;
    --secondary: #c88be3;
    --accent: #c101ba;
    --lighter: #8ec7ff;
    --primary: #3f7dd1;
}

#midi_roll {
    outline: 4px solid rgb(0,0,0);
}

.cell {
    height: 25px;
    width: 50px;
    min-width: 100px;
    flex: 1;
    border: 1px solid rgb(149, 149, 149);
    background-color: var(--background)
}

.cell-on {
    background-color: var(--accent) !important;
}

.cell-off:hover {
    background-color: var(--secondary) !important;
}

.chord-cell-on {
    background-color: var(--primary);
}

.chord-cell-off:hover {
    background-color: var(--lighter);
}

.row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.row:hover{
    outline: 2px solid #000000;
}



.bar-line{
    border-left: 2px solid rgb(0,0,0);
}

.pointer{
    background-color: var(--lighter);
}

#container {
    display: flex;
    flex-direction: row;

    margin-left: 8px;
    margin-right: 8px;
}

#piano {
    flex: 1;
}

.key {
    background-color: white;
    margin-right: 0;
    margin-left: auto;
}

.key:hover {
    background-color: #AAAAAA;
}

.black-key {
    background-image: linear-gradient(to right, black 0%, black 50%, white 51%, white 100%);
    margin-right: 0;
    margin-left: auto;
}

.black-key:hover {
    background-image: linear-gradient(to right, black 0%, black 50%, #AAAAAA 51%, #AAAAAA 100%);
}



#bpm {
    /*
    background-color: var(--lighter);
    border: 5px solid var(--lighter);
     */
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


label{
    margin-right: 4%;
    font-size: 0.87em;
    font-weight: bold;
}

input[type="number"]{
    background-color: var(--greyishBackground);
    border: 1.5px solid rgb(117, 117, 117);
}

input[type="number"]:hover{
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
}

#buttons{
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 39%;
    /*width: 90%;*/
}

#templates {
    display: flex;
}

#templates input{
    margin-right: 2%;
    background-color: var(--accent);
    border: 5px outset var(--accent);
    color: #000000;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-weight: bold;
}

#templates input:hover{
    background-color: var(--secondary);
    border: 5px outset var(--secondary);
    color: #ffffff;
    outline: 1px solid rgb(117, 117, 117);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
}

#goButton{
    background-color: var(--primary);
    border: 5px outset var(--primary);
    border-radius: 5px;
    width: 180px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0% 0% 1% 42.5%;
}

#goButton:hover{
    background-color: var(--lighter);
    border: 5px outset var(--lighter);
    color: #ffffff;
    /*makes the button more accessible by emphasising the button is hovered over*/
    outline: 1px solid rgb(117, 117, 117);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
}

#reset-button {
    justify-self: end;
}

#resetTable{
    margin-right: 1%;
    background-color: rgb(198, 118, 13);
    border: 5px outset rgb(198, 118, 13);
    color: #000000;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-weight: bold;
}

#resetTable:hover{
    background-color: rgb(211, 170, 112);
    border: 5px outset rgb(211, 170, 112);
    color: #ffffff;
    outline: 1px solid rgb(117, 117, 117);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
}

body{
    margin: 0px 0px 8px 0px;
}

#gradient{
    background-image: linear-gradient(var(--primary), var(--lighter), #ffffff);
}

#text {
    display: flex;
    justify-content: normal;
}

.heading-part{
    margin-left: 1%;
    margin-right: 1%;
}

h1{
    font-family: Blippo, fantasy;
    font-weight: lighter;
    font-size: 2.5em;
    margin-top: 20%;
    margin-left: 10%;
}

p{
    font-weight: bold;
    width: 95%;
    line-height: 1.7;
    margin-left: 5%;
    margin-top: 2%;
}

/*.cell {*/
/*   user-select: none;*/
/*}*/