/*the colours have been checked and are accessible for multiple forms of colour blindness*/
:root {
    --background: #f3f7fc;
    --greyishBackground: #e9edf3;
    --secondary: #c88be3;
    --accent: #c101ba;
    --lighter: #8ec7ff;
    --primary: #3f7dd1;
}

#midi_roll {
    outline: 4px solid rgb(0,0,0);
}

.cell {
    height: 25px;
    width: 50px;
    min-width: 100px;
    flex: 1;
    border: 1px solid rgb(149, 149, 149);
    background-color: var(--background)
}

.cell-on {
    background-color: var(--accent) !important;
}

.cell-off:hover {
    background-color: var(--secondary) !important;
}

.chord-cell-on {
    background-color: var(--primary);
}

.chord-cell-off:hover {
    background-color: var(--lighter);
}

.row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.row:hover{
    outline: 2px solid #000000;
}

.bar-line{
    border-left: 2px solid rgb(0,0,0);
}

.pointer{
    background-color: var(--lighter);
}

#container {
    display: flex;
    flex-direction: row;

    margin-left: 8px;
    margin-right: 8px;
}

#piano {
    flex: 1;
}

.key {
    background-color: white;
    margin-right: 0;
    margin-left: auto;
}

.black-key {
    background-image: linear-gradient(to right, black 0%, black 50%, white 51%, white 100%);
    margin-right: 0;
    margin-left: auto;
}

.black-key:hover {
    background-image: linear-gradient(to right, black 0%, black 50%, #AAAAAA 51%, #AAAAAA 100%);
}

.key:hover {
    background-color: #AAAAAA;
}

#bpm {
    /*
    background-color: var(--lighter);
    border: 5px solid var(--lighter);
     */
    margin-left: 42.5%;
    margin-right: 42.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


label{
    margin-right: 5%;
}

/*
#input_bpm{
    margin: 0% 0% 1% 47.5%;
}
 */

#goButton{
    background-color: var(--primary);
    border: 5px outset var(--primary);
    border-radius: 5px;
    width: 110px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0% 0% 1% 46%;
}

#goButton:hover{
    background-color: var(--lighter);
    border: 5px outset var(--lighter);
    color: #ffffff;
    /*makes the button more accessible by emphasising the button is hovered over*/
    outline: 2px solid rgb(117, 117, 117);
}

body{
    margin: 0px 0px 8px 0px;
}

#gradient{
    background-image: linear-gradient(var(--primary), var(--lighter), #ffffff);
}

#text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heading-part{
    margin-left: 1%;
    margin-right: 1%;
}

h1{
    font-family: Blippo, fantasy;
    font-weight: lighter;
    font-size: 2.3em;
    margin-top: 0%;
    padding-top: 20%;
    padding-left: 10%;
}

p{
    padding-left: 5%;
    padding-top: 2%;
    width: 100%;
}

/*.cell {*/
/*   user-select: none;*/
/*}*/